.relative {
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}

.ball {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

#ball-00 {
    background-color: red;
    left: 100px;
    top: 50px;
}

#ball-01 {
    background-color: yellow;
}

#ball-02 {
    background-color: green;
}
